body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    /* Light grey background */
    color: #333;
    /* Dark grey text */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

main {
    text-align: center;
}

section {
    margin-bottom: 40px;
}

h1 {
    margin-bottom: 20px;
}

.content {
    text-align: left;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

footer {
    background-color: #333;
    /* Dark grey footer */
    color: #fff;
    /* White text */
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.profile-pic {
    width: 100px;
    /* Adjust as needed */
    height: 100px;
    /* Adjust as needed */
    float: left;
    margin-right: 10px;
}

.content ul li {
    margin-bottom: 10px;
    /* Adjust as needed */
}